* {
  padding: 0;
  margin: 0;
}
html{
  overflow-x: hidden;
}
body {
  background-color: aliceblue;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  flex-direction: column;
  overflow-x: hidden;
}


.scrollbar-style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.scrollbar-style-2::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d62929;
  border: 2px solid black;
}

.outer-pokecontainer{
  width: 100vw;
}

.pokecontainer {
  margin-top: 100px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-spacearound {
  justify-content: space-around;
}
.flex-spacebetween {
  justify-content: space-between;
}
.flex-spaceevenly {
  justify-content: space-evenly;
}

.card {
  text-decoration: none;
  color: inherit;
  background-color: #00000000;
  border: none;
  border: 1px solid rgba(207, 207, 207, 0.349);
  border-radius: 10px;
  padding: 10px;
  transition: all 100ms ease;
}
.card:hover{
  cursor: pointer;
  /* background-color: rgb(231, 231, 231); */
}

.pokenavbar {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100dvw;
  background-color: #eb3e3e;
  border-bottom: 3px solid black;
  z-index: 2;
}

.pokeball {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  width: 70px;
  height: 70px;
  background: linear-gradient(red 50%, white 0%);
  border-radius: 100%;
  border: 3px solid black;
  animation: rotate 10s linear infinite;
}
.pokeball-center {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: aliceblue;
  border: 3px solid black;
  border-radius: 100%;
  z-index: 3;
}
.pokeball-center::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 100%;
  z-index: 3;
}

.pokeball-divisor {
  width: 70px;
  height: 10px;
  background-color: black;
  z-index: 2;
}

.pokeball-shine{
  position: absolute;
  width: 10px;
  height: 15px;
  top: 5px;
  left: 10px;
  background-color: aliceblue;
  border-radius: 100%;
  z-index: 3;
  transform: skew(-35deg);
}

.loadbutton {
  background: linear-gradient(90deg, white 50%, #eb3e3e 0%);
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 2rem;
  border: 3px solid black;
}
.loadbutton > .loadbuttontext{
  content: "Load more";
  background: -webkit-linear-gradient(10deg, black 50%, white 0%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loadbutton{
  transition: all 100ms ease;
}
.loadbutton:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#load{
  margin-bottom: 10%;
}

img {
  width: 250px;
  height: 250px;
}

.cardid {
  /* 2rem */
  color: grey;
  font-size: 200%;
}
.cardpokename {
  /* 2.5rem */
  font-size: 250%;
}

.type-item {
  /* 1rem */
  width: calc(50% - 1%);
  border-radius: 5px;
  text-align: center;
  font-size: 100%;
}
.type-grass {
  color: black;
  background-color: limegreen;
}
.type-poison {
  color: white;
  background-color: palevioletred;
}

.type-fire {
  color: white;
  background-color: rgb(255, 118, 69);
}

.type-water {
  color: white;
  background-color: dodgerblue;
}

.type-flying {
  background: linear-gradient(cyan 50%, rgb(212, 212, 212) 0%);
}

.type-bug {
  color: white;
  background-color: green;
}

.type-normal {
  background-color: grey;
}

.type-electric {
  background-color: yellow;
}
.type-ground {
  background: linear-gradient(yellow 50%, rgb(206, 113, 26) 0%);
}
.type-fairy {
  background-color: pink;
}
.type-fighting {
  color: white;
  background-color: orangered;
}
.type-psychic {
  color: white;
  background-color: purple;
}
.type-rock {
  color: white;
  background-color: darkorange;
}
.type-steel {
  background-color: lightblue;
}
.type-ghost {
  color: white;
  background-color: rgb(99, 55, 139);
}
.type-ice {
  background-color: aqua;
}
.type-dragon {
  color: white;
  background: linear-gradient(dodgerblue 50%, orangered 0%);
}

.type-dark{
  color: white;
  background-color: grey;
}

@keyframes rotate {
  from {

  }
  to{
    transform: rotate(-360deg);
  }
  
}